<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication13.Properties.Settings.uchhet_izmConnectionString"
            connectionString="Data Source=DESKTOP-65QMQGS\SQLEXPRESPLS;Initial Catalog=uchhet_izm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>