@import url("robotocondensed-bold.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0!important;
}
label
{
    cursor: pointer;
}
::-webkit-input-placeholder
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#737272;
}
::-moz-placeholder
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#737272;
}
:-ms-input-placeholder
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#737272;
}
:-moz-placeholder
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#737272;
}
*:focus::-webkit-input-placeholder
 {
   color: transparent;  
}
*:focus::-moz-placeholder
 {
   color: transparent;  
}
*:focus::-moz-placeholder
 {
   color: transparent;  
}
*:focus::-webkit-input-placeholder
 {
   color: transparent;  
}
ins
{
    text-decoration: none;
}
.center
{
    width: 1170px;
    margin: 0 auto;
}
.main_menu
{
    background: -webkit-linear-gradient(#e4e4e6,#d6d6d8); 
     background: linear-gradient(#e4e4e6,#d6d6d8);
     padding: 11px 0px;
}
.main_menu nav
{
    text-align: center;
}
.main_menu nav a
{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #313030;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 5px 25px;
}
.main_menu nav a:hover
{
    text-decoration: underline;
}
.main_menu nav a.active
{
    cursor: default;
    background: #fdc903;
}
.main_menu nav a.active:hover
{
    text-decoration: none;
}
.logo_section
{
    text-align: center;
    padding: 1Ð°5px 0px 0px;
    
}
.slider
{
    background-size: 100%;
    width: 100%;
    margin-top: 16px;
}
.image {
	position	: relative;
	width		: 1000%;
}
.slider button
{
    position: absolute;
    top: 43%;
    width: 72px;
    height: 61px;
background-color: rgba(0, 0, 0, .35);
border: 0;
font-size: 0px;
z-index: 1;
cursor: pointer;
background-repeat: no-repeat;
background-position: center;
}
.slider .image span
{
    width: 470px;
    height: 44px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, .54);
    font-size: 30px;
    color: #fff;
    line-height: 44px;
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
}
.slider button:hover
{
    background-color: #fdc903;
}
.slider button.slick-prev
{
    left: 0px;
    background-image: url("../img/prev.png");
}
.slider button.slick-next
{
    right: 0px;
    background-image: url("../img/next.png");
}
.slider button.slick-next
{
    right: 0px;
}
.triggers
{
    padding: 56px 0px 88px;
   
}
.triggers ul li
{
width: 370px;
height: 232px;
background: #e5e5e7;
list-style: none ;
display: inline-block;
vertical-align: top;
padding: 21px 16px 21px 40px;
position: relative;
}

.triggers ul li .triggers_ico
{
    float: left;
    margin-right: 22px;
    margin-top: 5px;
}
.triggers ul li .triggers_title
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #2a2929;
    line-height: 35px;
    margin-top: 13px;
}
.triggers ul li .triggers_title ins
{
display: block;
color: #fdc903;
}
.triggers ul li p
{
    font-family: 'Roboto', sans-serif;
    clear: both;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
    margin-top: 37px;
}
.triggers ul li a
{
    position: absolute;
    bottom: 15px;
    right: 10px;
}
.triggers ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.to_action
{
    font-family: 'Roboto', sans-serif;
    background: #fdc903;
    text-align: center;
    font-size: 50px;
    color: #fff;
    padding:43px 0px 40px ;
}
.to_action a
{
    font-size: 60px;
color: #fff;
text-decoration: none;
letter-spacing: 1px;
}
.to_action p
{
margin-top: 12px;
letter-spacing: 1px;
}
.to_action a:before
{
content: url("../img/ico5.png");
position: relative;
top: -6px;
left: -10px;
}
.to_action .center
{
    background: url("../img/ico6.png") no-repeat left center,
    url("../img/ico6.png") no-repeat right center;
}
.booking_form .input_smalls input[type="text"] 
{
    width: 193px;
    margin-bottom: 14px;

}
.booking_form
{
    padding-top: 82px;
    
}
.booking_form .form
{
width: 433px;
padding-bottom: 73px;
}
.booking_form .form form
{
margin-top: 46px;
}
.booking_form .zakaz
{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #313030;
}
.booking_form .input_smalls
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-flow: wrap; 
    flex-flow: wrap;
}
input[type="text"]
{
    height: 30px;
    background: #f0f3f5;
    padding: 0 13px;
    border: 1px solid #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#000;
}
.booking_form .input_label input[type="text"] 
{
width: 336px;
margin-bottom: 14px;
}
.booking_form .input_label label 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.booking_form .input_label label:last-child 
{
margin-bottom: 0;
}
.booking_form .input_label span
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #737272;
    line-height: 30px;
}
.booking_form .input_label input[type="text"]#datapicker 
{
  background-image: url("../img/ico7.png");  
  background-repeat: no-repeat;
  background-position: right 22px center;
}
.booking_form .radios .radio_title
{
    font-size: 14px;
    color: #737272;
    font-family: 'Roboto', sans-serif;
}
.booking_form .radios
{
    margin-top: 6px;
}
.booking_form .radio_buttons
{
    margin-top: 12px;
}
.booking_form .radio_buttons label
{
display: inline-block;
vertical-align: top;
margin-right: 13px;
}
.booking_form .radio_buttons label span
{
    display: inline-block;
    font-size: 14px;
    color: #737272;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    vertical-align: top;
    
}
.booking_form .radio_buttons label input[type="radio"]
{
display: none;
}
.booking_form .radio_buttons label i
{
display: inline-block;
width: 18px;
height: 18px;
border: 3px solid #adaeaf;
border-radius: 50%;
margin-right: 10px;
position: relative;
}
.booking_form .radio_buttons label i::after
{
content:"";
width: 10px;
height: 8px;
background: url("../img/ico8.png");
position: absolute;
top: 0; 
bottom: 0;
left: 0;
right: 0;
margin: auto;
-webkit-transform: scale(0);
transform: scale(0);
-webkit-transition: .4s;
transition: .4s;
}
.booking_form .radio_buttons label input[type="radio"]:checked + i:after
{
    -webkit-transform: scale(1);
    transform: scale(1);;
}
.booking_form .radio_buttons label input[type="radio"]:checked + i
{
    border: 3px solid #98a6b3;
}
.booking_form .selects ins
{
    display: inline-block;
    font-size: 14px;
    color: #737272;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    vertical-align: top;
    margin-right: 38px;
}
.selects
{
    margin-top: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 65px;
}
.jselector
{
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.jselector select
{
    display: none;
}
.jselector .wrap
{
width: 96px;
height: 30px;
background: #f0f3f5; 
line-height: 30px;
font-size: 14px;
color: #737272;
font-family: 'Roboto', sans-serif;
padding-left: 10px;
position: relative;
}
.jselector button
{
position: absolute;
top: 4px;
right: 4px;
width: 23px;
height: 23px;
border: 2px solid #d5d7d9;
background:url("../img/ico9.png") no-repeat center #d2dae0;
font-size: 0px;
}
.jselector .dropdown    
{
display: none;
position: absolute;
left: 0;
right: 0;
top: 30px;
}
.jselector.is-shown .dropdown  
{
display: block;
}
.jselector.is-shown .dropdown  ul
{
list-style: none;
border:1px solid #ccc;
}
.jselector.is-shown .dropdown  ul li
{
    padding: 4px 10px;
    color:#737272;
}
.jselector.is-shown .dropdown  ul li.selected
{
background: #d2dae0;
}
.jselector.is-shown .dropdown  ul li:hover
{
    background: #eee;
}
.booking_form textarea
{
    background: #f0f3f5;
    height: 143px;
    padding: 13px;
    border: 1px solid #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#000;
    width: 100%;
}
.booking_form input[type="submit"]
{
width: 97px;
height: 38px;
background: #fdc903;
font-family: 'Roboto', sans-serif;
font-size: 14px;
color:#fff;
border: 0;
margin-top: 23px;
cursor: pointer;
}
.booking_form input[type="submit"]:hover
{
    color: #fdc903;
    background: #000;
    -webkit-transition: .2s;
transition: .2s;
}
.booking_form .center 
{
    position: relative;
}
.links ul
{
list-style: none;
position: absolute;

}
.links
{
    position: absolute;
    left: 700px;
    top: 1px; 
    
}
.links ul li
{
    margin-bottom: 12px;
    position: relative;
    width: 550px;
     height: 200px;
     overflow: hidden;
}
.links ul li span
{
    width: 312px;
    height: 44px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, .54);
    font-size: 30px;
    color: #fff;
    line-height: 44px;
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
}
.links ul li img
{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .4s;
    transition: .4s;
}
.links ul li:hover img
{
    -webkit-transform: scale(1.1);transform: scale(1.1);
}
footer
{
background: #4a4a4a;
padding: 66px 0 92px;
}
footer .copy
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
footer .copy > span
{
    color: #fff;
}
footer .copy > span>span
{
    color: #fdc903;
}
footer .copy ins
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
}
footer .phone
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #fff;
}
footer .phone a
{
    color: #fff;
    text-decoration: none;
    font-size: 40px;
}
footer .center
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
footer .soc a
{
margin: 0 4px;
}
.about
{
    margin-top: 9px;
}
.about .left
{
width: 680px;
}
.about .left h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #313030;
    margin-bottom: 19px;
}
.about .left img
{
    float: left;
    margin-right: 30px; 
  
}
.about .left h3
{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #4a4a4a;
    margin-bottom: 16px;
}
.about .left p
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
    margin-bottom: 16px;
}
.about .left p a
{
    text-decoration: none;
    color: #f5c306;
}
.about .left p a:hover
{
    text-decoration: underline;
}
.about .right
{
    width: 370px;

}
.about .center
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.about .right h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #313030;
    margin-bottom: 19px;
}
.about .right ol li
{
    list-style: none;
    position: relative;
    padding-left: 58px;
    margin-bottom: 40px;
}
.about .right ol li span
{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #4a4a4a;
    margin-bottom: 16px;
}
.about .right ol li p
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
}
.about .right ol
{
    counter-reset: myCounter;
}
.about .right ol li:before
{
    content: counter(myCounter);
    counter-increment: myCounter;
    width: 45px;
    height: 45px;
    background: #fdc903; 
    font-size: 36px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 45px;
}
.otziv
{
    margin-top: 64px;
    padding-bottom: 112px;
}
.otziv h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #313030;
    margin-bottom: 34px;
}
.otziv ul li
{
    width: 370px;
    height: 207px;
    background: #e5e5e7;
    padding: 61px 38px 10px 46px;
    position: relative;
}
.otziv ul
{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.otziv ul li p
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
    position: relative;
}
.otziv ul li p:before
{
 content:url("../img/otziv1.png");
 position: absolute;
 left: -17px;
 top: -27px;

}
.otziv ul li span
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #727171;
    display: block;
    text-align: right;
    margin-top: 20px;
}
.otziv ul li:after
{
    content:url("../img/otziv2.png");
    position: absolute;
    bottom: -26px;
    left: 66px;
}
.met 
{
    margin-top: 9px;
    padding: 50px;
}
.met h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #313030;
    margin-bottom: 42px;
}
.met ul
{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify; 
    justify-content: space-between;
    margin-bottom: 50px;
    overflow: hidden;
}
.met ul li a
{
display: inline-block;
position: relative;

}
.met ul li a:before
{
content: "";
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, .7);
opacity: 0;
-webkit-transition: .4s;
transition: .4s;
}
.met ul li a:after
{
content: "";
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 50px;
height: 50px;
background: url("../img/search.png");
-webkit-transform: scale(0);transform: scale(0);
-webkit-transition: .4s;
transition: .4s;
}
.met ul li a:hover:before
{
    opacity: 1;
}
.met ul li a:hover::after
{
    opacity: 1;
    -webkit-transform: scale(1);transform: scale(1);
}
.met ul li img
{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .4s;
    transition: .4s;
}
.met ul li:hover img
{
    -webkit-transform: scale(1.1);transform: scale(1.1);
}
.proiz
{
    margin-top: 9px;
    padding-bottom: 60px;
}
.proiz h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #313030;
    margin-bottom: 20px;
}
.proiz ul
{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify; 
    justify-content: space-between;
    -ms-flex-flow: wrap;flex-flow: wrap;
}
.proiz ul li
{
width: 370px;
background: #e5e5e7;
padding: 23px 23px 27px;
margin-bottom: 28px;
}
.proiz ul li span
{
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 20px;
    line-height: 20px;
    color: #4a4a4a;
    margin-top: 21px;
}
.proiz ul li p
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
    margin-bottom: 18px;
    margin-top: 22px;
}
.proiz ul li a
{
    display: inline-block;
    text-decoration: none;
    width: 100px;
height: 38px;
background: #fdc903;
font-family: 'Roboto', sans-serif;
font-size: 14px;
line-height: 38px;
color:#fff;
border: 0;
margin-top: 23px;
cursor: pointer;
text-align: center;
}
.proiz ul li a:hover
{
    color: #fdc903;
    background: #000;
    -webkit-transition: .2s;
transition: .2s;
}
.contact
{
    margin-top: 9px;
}
.contact h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #313030;
    margin-bottom: 42px;
}
.contact .google_map
{
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify; 
    justify-content: space-between;
    
}
.contact .contacts 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    margin-top: 22px;
    margin-bottom: -230px;
}
.contact .center  .pr 
{
width: 550px;
}
.contact .center  .shop
{
width: 550px;
}
.contact .center  .pr span
{
display: block;
font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 20px;
    line-height: 20px;
    color: #4a4a4a;
    margin-top: 21px;
}
.contact .center  .pr p
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
    margin-bottom: 18px;
    margin-top: 22px;
}
.contact .center  .shop span
{
display: block;
font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 20px;
    line-height: 20px;
    color: #4a4a4a;
    margin-top: 21px;
}
.contact .center  .shop p
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
    margin-bottom: 18px;
    margin-top: 22px;
}
